<p>My interests include machine learning, computer vision, and embedded systems.
I am an active contributer on <a href="http://openbiometrics.org">OpenBR project</a>.</p>

<div>
  <li class="main-list-item">GitHub: <a class="main-list-link" href="https://github.com/DepthDeluxe">DepthDeluxe</a></li>
  <li class="main-list-item">LinkedIn: <a class="main-list-link" href="https://www.linkedin.com/in/colin-heinzmann-9966bb62">Colin Heinzmann</a></li>
  <li class="main-list-item">Education: <a class="main-list-link" href="http://www.bucknell.edu">Bucknell University</a></li>
  <li class="main-list-item">Contact: <a class="main-list-link" href="mailto://colin@heinzmann.me">colin@heinzmann.me</a>
</div>
